<h1>Bienvenu sur mon TP Prostage</h1>

<p>
    Et je n'ai pas la moindre idée de ce que je fais....
</p>

<a href="{{ path('listeEntreprise') }}">Entreprise</a>
<a href="{{ path('listeFormation') }}">Formations</a>
<a href="{{ path('listeStage') }}">le stage</a>
