{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">
	{%for stage in listeStages%}
	<div class="col-md-4">
		<ul>
			<li><a href="{{path('stages', {'id': stage.id} )}}">{{stage.titre}}</a></li>
			<li><a href="{{path('entreprises', {'id': stage.entreprise.id} )}}">{{stage.entreprise.nom}}</a></li>

		</ul>
	</div>
	{%endfor%}
</div>
{% endblock %}