{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">
	{%for entreprise in listeEntreprises%}
	<div class="col-md-4">
		<ul>
			<li>{{entreprise.nom}}</li>
			<li>{{entreprise.adresse}}</li>
		</ul>
	</div>
	{%endfor%}
</div>
{% endblock %}